@media (max-width: 768px) {
  .quotes{
    display: none;
  }

  .cover .tagline{
    top: 32% !important;
    margin-top: -30px;
    letter-spacing: 6px !important;
  }

  .socmed-group{
    display: none !important;
  }

  .coffee-splash{
    width: 600px !important;
    transform: translate(-50%, -55%) !important;
  }

  .coffee-img{
    transform: translate(-50%, -65%) !important;
  }
  
  .working-hours{
    margin-bottom: 50px !important;
  }
  .coffee-name{
    top: 80% !important;
  }
}

@media (max-width: 576px) {
  .cover .tagline{
    top: 35% !important;
  }
  .cover .coffee-splash{
    width: 450px !important;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}



.nav-link{
  position: relative;
  color: white;
  padding: 0;
}

.nav-link:hover{
  color: white;
}

.nav-link::before{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  content: "";
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}

.nav-link:hover::before{
  transform: scaleX(1);
  color: white;
}

.cover{
  height: 100vh;
  background: radial-gradient(at bottom, #a88a75 7%, #80624c 27%, #492b17 83%);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@keyframes taglineAnimation {
  0%{
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  100%{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.cover .tagline{
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(2rem + 5vw);
  width: 80vw;
  text-align: center;
  color: white;
  letter-spacing: 15px;
  font-weight: bold;
  z-index: 1;
  text-shadow: 0px 0px 15px white;
  animation: taglineAnimation 0.8s ease-in-out;
}


@keyframes coffeeCupAnimation {
  0%{
    transform: translate(-50%, 10%);
    opacity: 0;
  }
  100%{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.cover .coffee-img{
  width: calc(200px + 10vw);
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  animation: coffeeCupAnimation 1s ease-in-out;
}

@keyframes coffeeNameAnimation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.cover .coffee-name{
  position: absolute;
  top: 86%;
  left: 57%;
  z-index: 3;
  color: black;
  padding: 10px;
  padding-inline: 22px;
  border-radius: 5px;
  font-size: 0.9rem;
  animation: coffeeNameAnimation 2s ease-in-out;
}

.cover .cup-shadow{
  width: calc(200px + 10vw);
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

@keyframes coffeSplashAnimation {
  0%{
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100%{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.cover .coffee-splash{
  width: calc(750px + 10vw);
  position: absolute;
  top: 60%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: coffeSplashAnimation 1.2s ease-in-out;
}

.cover .coffee-beans div{
  background-image: url('/cover/coffee-beans.png');
  background-size: contain;
  background-position: center;
  position: absolute;
  filter: brightness(1.6);
}

@keyframes coffeBeansAnimation {
  0%{
    transform: scale(0) rotate(var(--initial-rotate));
    opacity: 0;
  }
  50%{
    transform: scale(1.3) rotate(var(--initial-rotate));
    opacity: 1;
  }
  100%{
    transform: scale(1) rotate(var(--initial-rotate));
  }
}


.cover .coffee-beans div:nth-child(1) {
  width: 35px;
  height: 35px;
  top: 75%;
  left: 20%;
  --initial-rotate: 0deg;
  transform: rotate(var(--initial-rotate));
  animation: coffeBeansAnimation 1.7s ease-in-out;
}

.cover .coffee-beans div:nth-child(2) {
  width: 30px;
  height: 30px;
  top: 45%;
  left: 23%;
  --initial-rotate: 35deg;
  transform: rotate(var(--initial-rotate));
  animation: coffeBeansAnimation 1s ease-in-out;
}

.cover .coffee-beans div:nth-child(3) {
  width: 25px;
  height: 25px;
  top: 23%;
  left: 20%;
  --initial-rotate: -25deg;
  transform: rotate(var(--initial-rotate));
  animation: coffeBeansAnimation 1.4s ease-in-out;
}

.cover .coffee-beans div:nth-child(4) {
  width: 30px;
  height: 30px;
  top: 30%;
  left: 45%;
  --initial-rotate: 25deg;
  transform: rotate(var(--initial-rotate));
  z-index: 0;
  animation: coffeBeansAnimation 1.5s ease-in-out;
}

.cover .coffee-beans div:nth-child(5) {
  width: 25px;
  height: 25px;
  top: 70%;
  left: 75%;
  --initial-rotate: -30deg;
  transform: rotate(var(--initial-rotate));
  z-index: 0;
  animation: coffeBeansAnimation 1.3s ease-in-out;
}

.cover .coffee-beans div:nth-child(6) {
  width: 45px;
  height: 45px;
  top: 20%;
  left: 83%;
  --initial-rotate: 45deg;
  transform: rotate(var(--initial-rotate));
  z-index: 0;
  animation: coffeBeansAnimation 1s ease-in-out;
}

.working-hours{
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
}

.cover .socmed-group{
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
  font-size: 1.5rem;
  z-index: 10;
  filter: drop-shadow(0 0 0px white);
  transition: all 1s ease;
}

.cover .socmed-group .socmed-icon:hover{
  filter: drop-shadow(0 0 5px white);
  cursor: pointer;
}


@keyframes quotesAnimation {
  0%{
    transform: translateX(50px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
.cover .quotes{
  color: white;
  width: 20%;
  text-wrap: wrap;
  text-align: end;
  right: 0;
  bottom: 10%;
  font-family: 'Satisfy', cursive;
  font-weight: lighter;
  z-index: 9;
  animation: quotesAnimation 1.3s ease-in-out;
}


.aesthetic-place{
  margin-top: -5px;
  height: auto;
  padding-block: 5rem;
  background: radial-gradient(at top, #a88a75 7%, #80624c 27%, #492b17 83%);
}

.aesthetic-place .title{
  text-transform: uppercase;
  font-size: calc(1.5em + 3.5vw);
  color: white;
  text-wrap: wrap;
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover, .div6:hover{
  filter: grayscale(0) brightness(1);
}
     

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
  min-height: 100vh;
  flex-wrap: wrap;
  margin-top: 15px;
}

.div1, .div2, .div3, .div4, .div5, .div6 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1) brightness(0.5);
  transition: all 0.3s ease;
}

.div1 {
  grid-row: span 2 / span 2;
  background-image: url('/gallery/1.png');
}

.div2 {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
  background-image: url('/gallery/2.png');
}

.div3 {
  grid-row: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 1;
  background-image: url('/gallery/3.png');
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 1;
  background-image: url('/gallery/4.png');
}

.div5 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;
  background-image: url('/gallery/5.png');
}

.div6 {
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 3;
  background-image: url('/gallery/6.png');
}

/* Responsive layout for smaller screens */
@media (max-width: 992px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 120vh;
  }
  .div1, .div2, .div3, .div4, .div5, .div6 {
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
  }

}

/* Responsive layout for tablets */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: 100vh;
  }
  .div1, .div2, .div3, .div4, .div5, .div6 {
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
  }
}

/* Responsive layout for mobile devices */
@media (max-width: 576px) {
  .gallery {
    grid-template-columns: 2fr;
    grid-template-rows: repeat(18, 2fr);
    min-height: 250vh;
  }
  .div1, .div2, .div3, .div4, .div5, .div6 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
  }
  .div3 {
    grid-row: span 3 / span 3;
  }
}

.divider{
  height: 50px;
  background: linear-gradient(to top, #492b17, rgba(73,43,23,0));
  margin-top: -100px;
  z-index: -1;
}

.taste-perfection{
  padding-block: 5rem;
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #492b17 60%, #a88a75) ;
}

.taste-wrap{
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .taste-wrap{
    flex-wrap: wrap !important;
  }
}

.taste-perfection-left-side{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  max-height: 500px;
}

.taste-desc{
  font-size: calc(3em + 3vw);
  height: 10px;
  color: white;
}

.taste-desc.taste-desc-hollow{
  -webkit-text-stroke: 2px white;
  color: transparent
}

.taste-perfection-right-side{
  position: relative;
}

.coffee-cup-taste{
  position: absolute;
  width: calc(200px + 10vw);
  transform: translate(-50%, -50%) rotate(30deg);
  top: 50%;
  left: 50%;
  z-index: 3;
}

.cup-shadow-taste{
  position: absolute;
  width: calc(200px + 10vw);
  transform: translate(-50%, -50%);
  top: 63%;
  left: 48%;
  z-index: 2;
}

.coffee-splash-taste{
  position: absolute;
  width: calc(480px + 10vw);
  transform: translate(-50%, -50%);
  top: 55%;
  left: 45%;
  z-index: 1;
}

.title-solid, .title-hollow{
  top: 49%;
  right: -45%;
}

.taste-perfection-right-side .title-solid{
  position: absolute;
  transform: rotate(90deg);
  color: white;
  font-weight: bold;
}

.taste-perfection-right-side .title-hollow{
  position: absolute;
  transform: rotate(90deg);
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-weight: bold;
  z-index: 4;
}

.secret-behind{
  background-color: #a88a75;
  margin-top: -5px;
  padding-top: 3rem;
  padding-bottom: 3rem; 
}

.secret-behind .title{
  font-size: calc(2.5em + 2.5vw);
  color: white;
  font-weight: bold;
}

.beans-group{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .beans-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.beans-content{
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 0;
  position: relative;
}

.beans-content img{
  position: absolute;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  filter: drop-shadow(-5px -5px 5px rgba(0,0,0,0.5));
}

.beans-content .beans-title{
  font-size: 4.7em;
  margin: 0;
  padding: 0;
  line-height: 75px;
  font-weight: bold;
  opacity: 0.35;
  color: white;
}

.bean-desc{
  color: #492b17;
  font-size: 1.1rem;
}

.btn-beverages a{
  border: 1.5px solid white;
  color: white;
  text-decoration: none;
  padding: 10px;
  padding-inline: 50px;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-align: center;
}

.btn-beverages img{
  filter: invert(0);
}
.btn-beverages a:hover{
  /* box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.5); */
  background-color: white;
  color: black;
}
.btn-beverages a:hover img{
  filter: invert(1);
  transition: all 0.1s ease;
}
.btn-beverages:hover img{
  animation: shakeCup 0.4s linear;
}

.btn-beverages .bi{
  display: inline-block;
  transform: translateX(0);
  transition: all 0.4s ease;
}

.btn-beverages:hover a .bi{
  transform: translateX(8px);
}

@keyframes shakeCup {
  0%{
    transform: rotate(-25deg);
  }
  25%{
    transform: rotate(25deg);
  }
  50%{
    transform: rotate(-25deg);
  }
  75%{
    transform: rotate(25deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/* NOODLE SECTION */
.noodle-divider{
  position: relative;
  margin-top: -10px;
}

/*base */
.noodle-divider svg:nth-child(1){
  fill: #a88a75;  
  position: absolute;
  z-index: 10;
  margin-top: -1px;
}

.noodle-divider svg:nth-child(2){
  fill: red;
  margin-top: 10px;
  position: absolute;
  z-index: 9;
}

.noodle-divider svg:nth-child(3){
  fill: #ffe0b7;
  margin-top: 20px;
  position: absolute;
  z-index: 7;
}
.noodle-divider svg:nth-child(4){
  fill: red;
  margin-top: 30px;
  position: absolute;
  z-index: 6;
}
.noodle-divider svg:nth-child(5){
  fill: #ffe0b7;
  margin-top: 40px;
  position: absolute;
  z-index: 5;
}
.noodle-divider svg:nth-child(6){
  fill: red;
  margin-top: 50px;
  position: absolute;
  z-index: 4;
}
.noodle-divider svg:nth-child(7){
  fill: #ffe0b7;
  margin-top: 60px;
  position: absolute;
  z-index: 3;
}
.noodle-divider svg:nth-child(8){
  fill: red;
  margin-top: 70px;
  position: absolute;
  z-index: 2;
}
.noodle-section{
  background-color: #ffe0b7;
  padding-top: calc(140px + 16vw);
}
.noodle-cover{
  height: 100vh;
  position: relative;
}
.noodle-section .tagline{
  font-size: calc(2rem + 5vw);
  text-align: center ;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: red;
  font-weight: bold;
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.noodles-decoration > .noodle-decoration{
  position: absolute;
  filter: drop-shadow(0 0 10px black);
  z-index: 2;
}
.noodles-decoration > .noodle-decoration:nth-child(1){
  width: calc(200px + 10vw);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.noodles-decoration > .noodle-decoration:nth-child(2){
  width: calc(150px + 10vw);
  top: 50%;
  left: 17%;
  transform: translate(-50%, -50%);
}
.noodles-decoration > .noodle-decoration:nth-child(3){
  width: calc(150px + 10vw);
  top: 50%;
  left: 83%;
  transform: translate(-50%, -50%);
}

.noodle-name{
  position: absolute;
  top: 75%;
  left: 66%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.noodle-scratch{
  width: calc(200px + 18vw);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.noodle-description{
  height: auto;
  /* background-color: #ffe0b7; */
  background: linear-gradient(to bottom, #ffe0b7 50%, #492b17 90%);
  overflow: hidden;
  padding-bottom: 15em;
  padding-top: 1rem;
}

.noodle-desc-img{
  flex: 0 0 calc(30%);
}
.noodle-desc-img img{
  filter: drop-shadow(0px 0px 10px black);
}
.noodle-desc-main{
  flex: 0 0 calc(40%);
  display: flex;
  flex-direction: column;
}
.noodle-desc-main .tagline{
  font-size: calc(4em);
  font-weight: bold;
  color: red;
}
.noodle-btn{
  border: 1.5px solid red;
  color: red;
  text-decoration: none;
  padding: 10px;
  font-size: 1.3rem;
  text-transform: uppercase;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
  transition: all 0.3s ease;
}
.noodle-btn:hover{
  background-color: red;
  color: white;
}

.working-space{
  position: relative;
  margin-top: -10px;
  justify-content: center;
  background-color: #492b17;
}
.working-space .overlay{
  position: absolute;
  height: 30%;
  background: linear-gradient(to top, #492b17, rgba(0,0,0,0) );
  content: "";
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
}
.working-space img{
  object-fit: cover;
  width: 100%;
  margin-top: -50px;
}
.working-space .tagline{
  z-index: 1;
  font-size: calc(1.5rem + 5vw);
  text-align: center;
  color: white;
}

.working-space-desc{
  background-color: #492b17;
  padding-top: 5rem;
  min-height: 200vh;
}

.working-space-desc h1{
  color: white;
  margin: 0;
  text-align: center;
  font-size: calc(1.5rem + 3vw);
  text-transform: uppercase;
}

.working-space-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: 120vh;
  margin-top: 35px;
  margin-bottom: 25px;
}

  
.working-space-grid-content1 { 
  grid-area: 1 / 1 / 5 / 6; 
  background-image: url('/gallery/2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.working-space-grid-content2 { 
  grid-area: 5 / 1 / 9 / 2; 
  background-image: url('/gallery/3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.working-space-grid-content3 { 
  grid-area: 5 / 2 / 9 / 6; 
  background-image: url('/gallery/4.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.working-space-grid .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease;
}
.working-space-grid h2{
  color: white;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease;

}
.working-space-grid>div:hover .overlay{
  opacity: 0.7;
}
.working-space-grid>div:hover h2{
  opacity: 1;
} 
.working-space-btn{
  border: 1.5px solid white;
  color: white;
  text-decoration: none;
  padding: 10px;
  padding-inline: 50px;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-align: center;
}
.working-space-btn:hover{
  background-color: white;
  color: black;
}

.kayuputih{
  height: 100vh;
  background-image: url('/kayuputih.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-block: 1em;
  gap: 30px;
}

.kayuputih .overlay{
  height: 20%;
  width: 100%;
  content: "";
  background: linear-gradient(to bottom, #492b17 10%, rgba(0,0,0,0)) ;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: -1px;
}

.kayuputih .overlay2{
  height: 100%;
  width: 100%;
  content: "";
  background-color: #492b17;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: -1px;
}

.kayuputih h1{
  color: white;
  z-index: 2;
}

.kayuputih img{
  z-index: 2;
  width: calc(150px + 3vw);
}

.kayuputih-btn{
  border: 1.5px solid white;
  color: white;
  text-decoration: none;
  padding: 10px;
  padding-inline: 50px;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-align: center;
  z-index: 2;
}

.kayuputih-btn:hover{
  background-color: white;
  color: black;
}


/* BEVERAGES */
.beverages-menu{
  background: linear-gradient(to bottom, #492b17, #80624c);
  overflow: hidden;
}

.beverages-best-seller{
  position: relative;
  width: 100%;
  height: 100vh;
}

.beverages-best-seller-left{
  position: relative;
  flex: 0 0 calc(50%);
}

.beverages-best-seller-right{
  flex: 0 0 calc(50%);
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

.beverages-best-seller-left>img:nth-child(1){
  position: absolute;
  width: calc(200px + 10vw);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.beverages-best-seller-left>img:nth-child(2){
  position: absolute;
  width: calc(550px + 10vw);
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.beverages-best-seller-left>img:nth-child(3){
  position: absolute;
  width: calc(550px + 10vw);
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.beverages-menu .best-seller-full{
  color: white;
  font-size: calc(1.5rem + 2vw);
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(270deg);
  z-index: 0;
}
.beverages-menu .best-seller-hollow{
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-size: calc(1.5rem + 2vw);
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(270deg);
  z-index: 3;
}

.best-seller-name{
  color: white;
  font-size: calc(1.5rem + 1vw);
}

.best-seller-price{
  color: white;
  font-size: calc(3rem + 1.5vw);
}

.cold-coffee h1{
  font-size: calc(3rem + 1.5vw);
  -webkit-text-stroke: 2px white;
  color: transparent;
  text-transform: uppercase;
  border-bottom: 2px solid white;
}
.cold-coffee-menu{
  align-items: start;
  justify-content: center;
}
.cold-coffee-menu-left{
  flex: 0 0 calc(80%);
  display: flex;
  flex-direction: column;
}

.cold-coffee-menu-right{
  flex: 0 0 calc(20%);
  display: flex;
  align-items: end;
  flex-direction: column;
}

.cold-coffee-menu-left h3{
  color: white;
  margin-top: 15px ;
}
.cold-coffee-menu-right h3{
  color: white;
  margin-top: 15px ;

}